.card-img {
    min-height: 360px;
    object-fit: cover;
}

.cardContent {
    position: absolute;
    margin-right: 15px;
}

.card {
 
}

.title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 62px;
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0px;
    overflow: hidden;
    background: rgba(202, 202, 202, 0.7);
}

.card-yes {
    position: absolute;
    font-size: 20px;
    right: 20px;
    font-size: 15px;
    text-align: center;
    width: 40%;
    margin-top: 5px;
}

.card-no {
    position: absolute;
    font-size: 20px;
    left: 20px;
    font-size: 15px;
    text-align: center;
    width: 40%;
    margin-top: 5px;
}