.card-img {
    min-height: 380px;
    object-fit: cover;
}

.cardContent {
    position: absolute;
    margin-right: 15px;
}

.card {
 
}

.card-header {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    height: 50px;
    width: 100%;
    line-height: 50px;
    overflow: hidden;
}

.card-yes {
    position: absolute;
    font-size: 20px;
    color: green;
    right: 20px;
    font-size: 15px;
    vertical-align: middle;
}

.card-no {
    position: absolute;
    font-size: 20px;
    color: red;
    left: 20px;
    font-size: 15px;
    vertical-align: middle;
}