<div class="card" id="card" swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="cardSwiped('left')" (throwoutright)="cardSwiped('right')">
    <div class="cardContent" id="{{'gameCard' + i}}" *ngFor="let c of cards; let i = index">
        <ion-card #mycards1 style="border: 4px solid rgb(242, 235, 235); position: relative;" swing-card>
            <h1 class="card-header">
                <span class="card-no">{{c.no}}</span>
                <span class="card-yes">{{c.yes}}</span>
            </h1>
            <img class="card-img" src="{{c.image}}"/>
        </ion-card>
    </div>
</div>