<div class="card" id="card" swing-stack #myswing [stackConfig]="stackConfig" (throwoutleft)="cardSwiped('left')" (throwoutright)="cardSwiped('right')">
    <div id="deck" #mycards style="position: relative;" swing-card *ngFor="let c of cards">
        <div class="title">{{card.title}}</div>
        <h1 class="card-text">
            <div class="card-no">{{card.no}}</div>
            <div class="card-yes">{{card.yes}}</div>
        </h1>
        <img class="card-img" src="{{card.image}}"/>
    </div>
</div>